fastapi
joblib
matplotlib
numpy
optuna
pandas
pydantic
pydantic-settings
python-multipart
schedule
scikit-learn
seaborn
shap
uvicorn
feature-engine
category_encoders
plotly
redis
celery
mlflow
numba
ydata-profiling
xgboost
lightgbm
catboost
pyyaml
Jinja2
onnx
aiofiles
websockets