fastapi
joblib
matplotlib
numpy
optuna
pandas
pydantic
python-multipart
schedule
scikit-learn
seaborn
shap
uvicorn
feature-engine
category_encoders
plotly
redis
celery
mlflow
numba
ydata-profiling
xgboost
lightgbm
pyyaml
Jinja2